<%= form_for @automobile, :url => "/admin/automobiles/#{@automobile.id}" do |f| %>
  <div class="row">
    <fieldset class="span6">
      <legend>
        <% if @automobile.stock_number.blank? %>
          Add an auto for sale
        <% else %>
          Edit detail for <%= @automobile.stock_number %>
        <% end %>
      </legend>
      <p class="form-inline">
        <%= f.text_field :stock_number, :placeholder => "Stock number", :class => "input-medium", :autofocus => true, :title => 'Stock number' %>
      </p>
      <p class="form-inline">
        <%= f.number_field :year, :placeholder => "Year", :class => "input-mini", :min => 1930, :max => (Date.today.year + 1), :title => 'Year' %>
        <%= f.text_field :make, :placeholder => "Make", :class => "input-medium", :title => 'Make' %>
        <%= f.text_field :model, :placeholder => "Model", :class => "input-medium", :title => 'Model' %>
      </p>
      <p class="form-inline">
        <%= f.number_field :price, :placeholder => "Price", :class => "input-mini", :title => 'Price' %>
        <%= f.text_field :color, :placeholder => "Color", :class => "input-mini", :title => 'Color' %>
        <%= f.number_field :doors, :placeholder => "Doors", :class => "input-mini", :min => 2, :max => 7, :title => 'Doors' %>
      </p>
      <p class="form-inline">
        <%= f.select :style, Automobile.styles.map { |s| [ s.humanize, s ] }, :class => 'span2', :title => 'Body style' %>
      </p>
    </fieldset>
    <fieldset class="span6">
      <legend>Optional details</legend>
      <p class="form-inline">
        <span class="input-prepend">
          <span class="add-on">Cylinders:</span>
          <%= f.number_field :cylinders, :class => "input-mini", :title => 'Cylinders' %>
        </span>
      </p>
      <p class="form-inline">
        <span class="input-append">
          <%= f.text_field :displacement, :placeholder => "Displacement", :class => "input-medium", :title => 'Displacement' %>
          <span class="add-on">liters</span>
        </span>
      </p>
      <p class="form-inline">
        <span class="input-append">
          <%= f.text_field :mileage, :placeholder => "Mileage", :class => "input-medium", :title => 'Mileage' %>
          <span class="add-on">miles</span>
        </span>
      </p>
      <p class="form-inline">
        <label class="checkbox bca-checkbox"><%= f.check_box :price, :title => 'Low miles' %> Low miles</label>
        <label class="checkbox bca-checkbox"><%= f.check_box :carfax, :title => 'Carfax' %> Carfax</label>
      </p>
    </fieldset>
    <fieldset class="span6">
      <legend>Steering</legend>
      <div class="row">
        <p class="span2">
          <label class="checkbox bca-checkbox"><%= f.check_box :power_steering, :title => 'Power steering' %> Power steering</label>
        </p>
        <p class="span2">
          <label class="checkbox bca-checkbox"><%= f.check_box :tilt_steering, :title => 'Tilt steering' %> Tilt steering</label>
        </p>
      </div>
      <div class="row">
        <p class="span3">
          <label class="checkbox bca-checkbox"><%= f.check_box :telescoping_steering, :title => 'Telescoping steering' %> Telescoping steering</label>
        </p>
      </div>
    </fieldset>
    <fieldset class="span6">
      <legend>Drivetrain &amp; brakes</legend>
      <div class="row">
        <p class="span2">
          <label class="checkbox bca-checkbox"><%= f.check_box :automatic, :title => 'Automatic' %> Automatic</label>
        </p>
        <p class="span2">
          <label class="checkbox bca-checkbox"><%= f.check_box :all_wheel_drive, :title => 'All wheel drive' %> All wheel drive</label>
        </p>
      </div>
      <div class="row">
        <p class="span2">
          <label class="checkbox bca-checkbox"><%= f.check_box :power_brakes, :title => 'Power brakes' %> Power brakes</label>
        </p>
        <p class="span2">
          <label class="checkbox bca-checkbox"><%= f.check_box :antilock_brakes, :title => 'Antilock brakes' %> Antilock brakes</label>
        </p>
      </div>
    </fieldset>
    <fieldset class="span6">
      <legend>Power options</legend>
      <div class="row">
        <p class="span2">
          <label class="checkbox bca-checkbox"><%= f.check_box :cruise_control, :title => 'Cruise control' %> Cruise control</label>
        </p>
        <p class="span2">
          <label class="checkbox bca-checkbox"><%= f.check_box :power_windows, :title => 'Power windows' %> Power windows</label>
        </p>
      </div>
      <div class="row">
        <p class="span2">
          <label class="checkbox bca-checkbox"><%= f.check_box :power_locks, :title => 'Power locks' %> Power brakes</label>
        </p>
        <p class="span2">
          <label class="checkbox bca-checkbox"><%= f.check_box :power_mirrors, :title => 'Power mirrors' %> Power mirrors</label>
        </p>
      </div>
    </fieldset>
    <fieldset class="span6">
      <legend>Climate control</legend>
      <div class="row">
        <p class="span2">
          <label class="checkbox bca-checkbox"><%= f.check_box :air_conditioning, :title => 'Air conditioning' %> Air conditioning</label>
        </p>
        <p class="span2">
          <label class="checkbox bca-checkbox"><%= f.check_box :dual_zone, :title => 'Dual zone' %> Dual zone</label>
        </p>
      </div>
      <div class="row">
        <p class="span3">
          <label class="checkbox bca-checkbox"><%= f.check_box :auto_climate_control, :title => 'Auto climate control' %> Auto climate control</label>
        </p>
      </div>
    </fieldset>
    <fieldset class="span6">
      <legend>Music</legend>
      <div class="row">
        <p class="span2">
          <label class="checkbox bca-checkbox"><%= f.check_box :am, :title => 'AM radio' %> AM radio</label>
        </p>
        <p class="span2">
          <label class="checkbox bca-checkbox"><%= f.check_box :fm, :title => 'FM radio' %> FM radio</label>
        </p>
      </div>
      <div class="row">
        <p class="span2">
          <label class="checkbox bca-checkbox"><%= f.check_box :cd, :title => 'CD player' %> CD player</label>
        </p>
        <p class="span2">
          <label class="checkbox bca-checkbox"><%= f.check_box :mp3, :title => 'MP3 player' %> MP3 player</label>
        </p>
      </div>
    </fieldset>
    <fieldset class="span6">
      <legend>Interior</legend>
      <div class="row">
        <p class="span3">
          <label class="checkbox bca-checkbox"><%= f.check_box :leather, :title => 'Leather' %> Leather</label>
        </p>
      </div>
      <div class="row">
        <p class="span2">
          <label class="checkbox bca-checkbox"><%= f.check_box :heated_seats_front, :title => 'Heated seats (front)' %> Heated seats (front)</label>
        </p>
        <p class="span2">
          <label class="checkbox bca-checkbox"><%= f.check_box :heated_seats_rear, :title => 'Heated seats (rear)' %> Heated seats (rear)</label>
        </p>
      </div>
    </fieldset>
    <fieldset class="span6">
      <legend>Exterior</legend>
      <div class="row">
        <p class="span2">
          <label class="checkbox bca-checkbox"><%= f.check_box :alloy_wheels, :title => 'Alloy wheels' %> Alloy wheels</label>
        </p>
        <p class="span2">
          <label class="checkbox bca-checkbox"><%= f.check_box :roof_rack, :title => 'Roof rack' %> Roof rack</label>
        </p>
      </div>
      <div class="row">
        <p class="span2">
          <label class="checkbox bca-checkbox"><%= f.check_box :running_boards, :title => 'Running boards' %> Running boards</label>
        </p>
        <p class="span2">
          <label class="checkbox bca-checkbox"><%= f.check_box :tow_package, :title => 'Tow package' %> Tow package</label>
        </p>
      </div>
    </fieldset>
    <fieldset class="span6">
      <legend>Recent service</legend>
      <div class="row">
        <p class="span2">
          <label class="checkbox bca-checkbox"><%= f.check_box :fully_serviced, :title => 'Fully serviced' %> Fully serviced</label>
        </p>
        <p class="span2">
          <label class="checkbox bca-checkbox"><%= f.check_box :recent_brakes, :title => 'Recent brakes' %> Recent brakes</label>
        </p>
        <p class="span2">
          <label class="checkbox bca-checkbox"><%= f.check_box :recent_tires, :title => 'Recent tires' %> Recent tires</label>
        </p>
      </div>
      <div class="row">
        <p class="span2">
          <label class="checkbox bca-checkbox"><%= f.check_box :recent_paint, :title => 'Recent paint' %> Recent paint</label>
        </p>
        <p class="span2">
          <label class="checkbox bca-checkbox"><%= f.check_box :recent_timing_belt, :title => 'Recent timing belt' %> Recent timing belt</label>
        </p>
      </div>
    </fieldset>
    <fieldset class="span6">
      <legend>Special features (top)</legend>
      <p>
        <%= f.text_area :special_features, :rows => 4, :class => 'span5' %>
      </p>
    </fieldset>
    <fieldset class="span6">
      <legend>Nice-to-have features (middle)</legend>
      <p>
        <%= f.text_area :nice_to_have, :rows => 4, :class => 'span5' %>
      </p>
    </fieldset>
    <fieldset class="span6 clearfix">
      <legend>Extra features (bottom)</legend>
      <p>
        <%= f.text_area :extras, :rows => 4, :class => 'span5' %>
      </p>
    </fieldset>
  </div>
  <div class="row">
    <div class="span12">
      <p class="clearfix">
        <%= f.submit :class => 'btn btn-info' %>
      </p>
    </div>
  </div>
<% end %>