<table class="table table-bordered table-hover spaced">
  <caption><%= caption %></caption>
  <thead>
    <tr>
      <th>Auto</th>
      <th>Stock Number</th>
      <th>Color</th>
      <th>Style</th>
      <th class="number-column">Price</th>
      <th class="number-column">Apps</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <% automobiles.each do |auto| %>
      <tr>
        <td><%= auto.name %></td>
        <td><%= auto.stock_number %></td>
        <td><%= auto.color %></td>
        <td><%= auto.style.humanize %></td>
        <td class="number-column"><%= number_to_currency(auto.price, precision: 0) if auto.price %></td>
        <td class="number-column"><%= auto.credit_applications.length %></td>
        <td>
          <select id="<%= auto.id %>" name="<%= auto.id %>" class="span2 status-selector">
            <% Automobile.statuses.each do |s| %>
              <% sel = if auto.status == s then " selected" else "" end %>
              <option value="<%= s %>"<%= sel %>><%= s.humanize %></option>
            <% end %>
          </select>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>